@use "./global.scss" as *;

.footer {
  display: flex;
  grid-row-start: 3;
  padding: 30px;
  box-shadow: 0px 0px 5px 1px inset black;

  .footer-content {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%;
    font-size: smaller;
    color: $dark-primary;
  }
}
